@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F7F8F6;
    --foreground: #172023;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F7F8F6;
    color: #172023;
}

@layer utilities {
    .text-stroke-black {
        -webkit-text-stroke: 1px black;
    }
}